# -------------------------
# OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Node / Frontend
# -------------------------
node_modules/
.next/
dist/
out/
.env*
!.env.example

# -------------------------
# Python / Backend
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env*
!.env.example

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# Logs
# -------------------------
*.log
